@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100;0,200;1,100&display=swap');

@font-face {
    font-family: 'Android';
    src: url('fonts/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;   

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android';
}

* {
    padding: 0px;
    margin: 0px;
}

header {
    min-height: 100px;
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    text-align: center;
}

header > h1 {
    padding: 15px;
    font-family: var(--fonte-destaque);
    color: snow;
    font-weight: normal;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.274);
    
}

header > p {
    padding: 5px;
    color: snow;
    padding-bottom: 15px;
    font-family: var(--fonte-padrao);
    max-width: 400px;
    margin: auto;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.274);
}

nav {
    background-color: var(--cor4);
    padding-bottom: 10px;
}

nav a {
    padding: 10px;
    text-decoration: none;
    color: var(--cor3)

}

nav a:hover {
    color: var(--cor5);
    background-color: var(--cor3);
    border-radius: 5px;
    transition-duration: .3s;
}

body {
    background-color: var(--cor0);
}

main {
    padding-left: 10px;
    background-color: snow;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
    padding: 20px;
}

main h2 {
    margin-bottom: 10px;
    font-family: var(--fonte-android);
    color: var(--cor4);
}

main h3 {
    font-size: 1em;
    font-family: var(--fonte-android);
    padding-left: 5px;
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor2), transparent);
    margin-top: 10px;
    margin-bottom: 10px;
}

main p {
    text-indent: 15px;
    line-height: 1.5em;
    font-family: var(--fonte-padrao);
}

main img {
    width: 100%;
}

img.pequena {
    max-width: 500px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor5);
    padding: 20px;
    margin: 30px -20px;

    position: relative;
    padding-bottom: 50%;
}

div > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

strong {
    color: var(--cor4);
}

a {
    text-decoration: none;
    color: var(--cor5);
    font-weight: bolder;
}

a.externo::after {
    content: '\00A0\1F517';
    size: 1px;
}

aside {
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-color: var(--cor1);
    border-radius: 8px;
}

aside > p.title {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: var(--cor4);
    color: snow;
    
    font-size: 1.3em;
    font-weight: bold;
}

aside > p {
    padding: 10px;
}

aside > ul {
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0';
    columns: 2;
    padding-left: 10px;

}

footer {
    text-align: center;
    background-color: var(--cor4);
    padding: 3px;
    margin-top: 15px;
    color: snow;
}

footer a {
    text-decoration: none;
    color: snow;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1)
}